img {
     border-radius: 58%;
 }
 h1{
      font-style: italic;
      color:white;
 }
 h2{
     font-style: italic;
     color:white;
}
h4{
     font-style: italic;
     color:white;
}

li{
     font-style: italic;
     color:white;
}
p{
     font-style: italic;
     color: white;
}